/* -- custom css for file blog.html -- */

/* -- navbar no-hairline -- */
#navbar-o-90736 {
	background-image: linear-gradient(to top, rgb(80, 80, 80), rgb(30, 30, 30));
}

/* -- fa f7-icons -- */
#obj-15712 {
	font-size: 25px;
}

/* -- fa material-icons -- */
#obj-157121 {
	font-size: 25px;
}

/* -- fa f7-icons -- */
#obj-157122 {
	font-size: 25px;
}

/* -- fa material-icons -- */
#obj-15712211 {
	font-size: 25px;
}

/* -- fa f7-icons -- */
#obj-1571221 {
	font-size: 25px;
}

/* -- fa material-icons -- */
#obj-1571221111 {
	font-size: 25px;
}

/* -- fa f7-icons -- */
#obj-15712212 {
	font-size: 25px;
}

/* -- fa material-icons -- */
#obj-157122121111 {
	font-size: 25px;
}

