/* -- custom css for file portfolio.html -- */

/* -- navbar no-hairline -- */
#navbar-o-13838 {
	background-image: linear-gradient(to top, rgb(80, 80, 80), rgb(30, 30, 30));
}

/* -- swiper-container swiper-init swiper-container-3d swiper-container-initialized swiper-container-horizontal swiper-container-ios swiper-container-autoheight -- */
#obj-1002 {
	max-width: 320px;
	 width: 320px;
	 height: 320px;
}

/* -- swiper-slide swiper-slide-visible swiper-slide-active -- */
#obj-1004 {
	background-image: url("/Users/andrewlogan/Sites/widget/img/77650.jpg");
	 width: 318px;
}

/* -- swiper-slide swiper-slide-next -- */
#obj-1005 {
	background-image: url("/Users/andrewlogan/Sites/widget/img/49066.jpg");
	 width: 318px;
}

/* -- swiper-slide -- */
#obj-1006 {
	background-image: url("/Users/andrewlogan/Sites/widget/img/42312.png");
	 width: 318px;
}

/* -- swiper-slide -- */
#obj-1007 {
	background-image: url("/Users/andrewlogan/Sites/widget/img/83012.jpg");
	 width: 318px;
}

/* -- swiper-slide -- */
#obj-1008 {
	background-image: url("/Users/andrewlogan/Sites/widget/img/50934.jpg");
	 width: 318px;
}

/* -- swiper-slide -- */
#obj-1009 {
	background-image: url("/Users/andrewlogan/Sites/widget/img/81624.jpg");
	 width: 318px;
}

/* -- img avatar m-2 rounded-circle -- */
#obj-528921 {
	max-height: 50px;
}

/* -- collection-item-image -- */
#obj-ssrppm184 {
	background-image:url(../../img/51801.jpg);
}

/* -- collection-item-image -- */
#obj-rzgptx708 {
	background-image:url(../../img/58433.png);
}

/* -- collection-item-image -- */
#obj-zmvrkl890 {
	background-image:url(../../img/25549.png);
}

/* -- collection-item-image -- */
#obj-uashff994 {
	background-image:url(../../img/37250.png);
}

/* -- collection-item-image -- */
#obj-ygminm480 {
	background-image:url(../../img/77324.png);
}

/* -- collection-item-image -- */
#obj-bnwlpa337 {
	background-image:url(../../img/46633.jpg);
}

/* -- img avatar m-2 rounded-circle -- */
#obj-5289211 {
	max-height: 50px;
}

/* -- collection-item-image -- */
#obj-woukpo587 {
	background-image:url(../../img/80194.jpg);
}

/* -- collection-item-image -- */
#obj-nzjecx566 {
	background-image:url(../../img/56596.jpg);
}

/* -- collection-item-image -- */
#obj-upwmoo083 {
	background-image:url(../../img/71505.jpg);
}

/* -- collection-item-image -- */
#obj-cftrgx250 {
	background-image:url(../../img/40815.jpg);
}

/* -- collection-item-image -- */
#obj-hvncfc470 {
	background-image:url(../../img/42382.jpg);
}

/* -- collection-item-image -- */
#obj-lnwpwp851 {
	background-image:url(../../img/87690.jpg);
}

/* -- img avatar m-2 rounded-circle -- */
#obj-52892111 {
	max-height: 50px;
}

/* -- collection-item-image -- */
#obj-rsgkgx917 {
	background-image:url(../../img/46341.jpg);
}

/* -- collection-item-image -- */
#obj-egrjzd959 {
	background-image:url(../../img/43010.jpg);
}

/* -- collection-item-image -- */
#obj-ezxbxl304 {
	background-image:url(../../img/37485.jpg);
}

