/* -- custom css for file food.html -- */

/* -- swiper-container swiper-demo swiper-container-initialized swiper-container-horizontal swiper-container-autoheight swiper-container-ios -- */
#obj-ygspji373 {
	height: 650px;
}

/* -- swiper-slide swiper-slide-visible swiper-slide-active -- */
#obj-pgrwdl984 {
	width: 368px;
	 margin-right: 10px;
}

/* -- swiper-slide swiper-slide-next -- */
#obj-gdvbzb858 {
	width: 368px;
	 margin-right: 10px;
}

/* -- swiper-slide -- */
#obj-vmftyd878 {
	width: 368px;
	 margin-right: 10px;
}

