/* -- custom css for file index.html -- */

/* -- page-content bg-dark -- */
#left-panel-page-content-o-78310 {
	background-image: linear-gradient(to right, rgb(29, 29, 29), rgb(46, 47, 47));
}

/* -- img avatar rounded-circle -- */
#obj-54221 {
	width: 48px;
	 height: 48px;
}

/* -- block custom-block block-text text-white mt-2 -- */
#obj-73370 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block mb-0 inset -- */
#obj-950721 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- fa text-white f7-icons -- */
#obj-66790 {
	font-size: 25px;
}

/* -- fa text-white f7-icons -- */
#obj-667901 {
	font-size: 25px;
}

/* -- fa f7-icons text-white -- */
#obj-949441 {
	font-size: 25px;
}

/* -- fa f7-icons text-white -- */
#obj-94944 {
	font-size: 25px;
}

/* -- fa f7-icons text-white -- */
#obj-949442 {
	font-size: 25px;
}

/* -- fa f7-icons ml-3 -- */
#obj-94944321 {
	font-size: 25px;
}

/* -- fa f7-icons -- */
#obj-949443 {
	font-size: 25px;
}

/* -- fa f7-icons -- */
#obj-94944311 {
	font-size: 25px;
}

/* -- fa f7-icons -- */
#obj-66790211 {
	font-size: 25px;
}

/* -- fa f7-icons mr-3 -- */
#obj-667902 {
	font-size: 25px;
}

/* -- fa f7-icons -- */
#obj-sktwfx869 {
	font-size: 25px;
}

/* -- fa f7-icons -- */
#obj-krpynl777 {
	font-size: 25px;
}

/* -- block custom-block mt-0 mb-0 p-0 -- */
#obj-89273 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- figure embed-responsive embed-responsive-16by9 -- */
#obj-scorbm255 {
	background-image: url("../../img/44054.jpg");
	 background-size: cover;
	 background-position: center top;
	 background-repeat: no-repeat no-repeat;
}

/* -- block-title fw-800 text-center mt-2 bg-transparent -- */
#obj-yprgzq185 {
	opacity: 0.95;
	 font-size: 25px;
	 color: rgb(255, 254, 254);
}

/* -- lead text-center text-white mt-0 mb-2 text-uppercase -- */
#obj-nupfeo805 {
	font-size: 11px;
}

/* -- flexbox display-flex flex-column justify-content-center align-items-center flex-nowrap -- */
#obj-kkvlbh347 {
	border-bottom-style: solid;
	 border-bottom-color: rgb(217, 217, 217);
	 border-width: 0px 0px 1px;
	 margin-top: -36px;
}

/* -- img rounded-circle img-fluid -- */
#obj-vznnhb801 {
	z-index: 1;
	 width: 70px;
	 height: 70px;
}

/* -- lead mt-1 -- */
#obj-lzmvlf005 {
	font-size: 13px;
}

/* -- block custom-block block-text block-strong text-center bg-transparent m-0 p-1 -- */
#obj-sagjjw460 {
	color: rgb(251, 1, 6);
	 line-height: 13px;
	 border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block mt-2 mb-4 -- */
#obj-lipzfs711 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- flexbox display-flex flex-column justify-content-center align-items-center flex-nowrap pt-1 pb-1 -- */
#obj-xhmdfb175 {
	background-color: rgb(234, 234, 234);
}

/* -- fa fa-bed -- */
#obj-wiknyl662 {
	font-size: 25px;
}

/* -- lead mt-0 mb-0 -- */
#obj-doccce607 {
	font-size: 11px;
}

/* -- flexbox display-flex flex-column justify-content-center align-items-center flex-nowrap pt-1 pb-1 -- */
#obj-dfkjnu181 {
	background-color: rgb(234, 234, 234);
}

/* -- fa f7-icons -- */
#obj-aavpdc417 {
	font-size: 25px;
}

/* -- lead mt-0 mb-0 -- */
#obj-kirorc361 {
	font-size: 11px;
}

/* -- flexbox display-flex flex-column justify-content-center align-items-center flex-nowrap pt-1 pb-1 -- */
#obj-alfpnh666 {
	background-color: rgb(234, 234, 234);
}

/* -- fa material-icons -- */
#obj-kbahmd115 {
	font-size: 25px;
}

/* -- lead mt-0 mb-0 -- */
#obj-fqbawu954 {
	font-size: 11px;
}

/* -- f7-icons -- */
#obj-pelpfm906 {
	color:rgb(255, 254, 254);
	 background-color:rgb(25, 107, 250);
}

/* -- material-icons -- */
#obj-azccri346 {
	color:rgb(255, 254, 254);
	 background-color:rgb(251, 0, 142);
}

/* -- f7-icons -- */
#obj-zgrcvu960 {
	color:rgb(255, 254, 254);
	 background-color:rgb(233, 105, 11);
}

