/* -- custom css for file pictures.html -- */

/* -- collection-item-image -- */
#obj-anhzkk298 {
	background-image:url(../../img/97359.png);
}

/* -- collection-item-image -- */
#obj-akitph863 {
	background-image:url(../../img/85651.jpg);
}

/* -- collection-item-image -- */
#obj-briykc061 {
	background-image:url(../../img/79788.jpg);
}

/* -- collection-item-image -- */
#obj-gxmxzc306 {
	background-image:url(../../img/73080.jpg);
}

/* -- collection-item-image -- */
#obj-gfddof855 {
	background-image:url(../../img/47624.jpg);
}

/* -- collection-item-image -- */
#obj-hmtkch315 {
	background-image:url(../../img/50204.jpg);
}

/* -- collection-item-image -- */
#obj-ktnlko901 {
	background-image:url(../../img/88926.jpg);
}

/* -- collection-item-image -- */
#obj-lbdrzr460 {
	background-image:url(../../img/57224.jpg);
}

/* -- collection-item-image -- */
#obj-liuxnu910 {
	background-image:url(../../img/36496.jpg);
}

/* -- collection-item-image -- */
#obj-lqkdbx479 {
	background-image:url(../../img/27083.jpg);
}

/* -- collection-item-image -- */
#obj-eebzmz320 {
	background-image:url(../../img/12651.jpg);
}

/* -- collection-item-image -- */
#obj-qhmopg738 {
	background-image:url(../../img/88372.jpg);
}

/* -- collection-item-image -- */
#obj-towrru685 {
	background-image:url(../../img/87405.jpg);
}

/* -- collection-item-image -- */
#obj-qnfcgl342 {
	background-image:url(../../img/25247.jpg);
}

/* -- collection-item-image -- */
#obj-ydsjsb860 {
	background-image:url(../../img/52315.jpg);
}

/* -- collection-item-image -- */
#obj-mcgeco987 {
	background-image:url(../../img/73174.jpg);
}

/* -- collection-item-image -- */
#obj-vrdkux154 {
	background-image:url(../../img/70684.jpg);
}

/* -- collection-item-image -- */
#obj-yjmxmk535 {
	background-image:url(../../img/76638.jpg);
}

