/* -- custom css for file index.html -- */

/* -- block custom-block block-text -- */
#obj-usotlr756 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- fa f7-icons -- */
#obj-tnprbz235 {
	font-size: 25px;
}

/* -- block custom-block mt-0 mb-0 pl-0 pt-2 pr-0 -- */
#obj-rkdxpt319 {
	box-sizing: border-box;
	 z-index: 12;
	 border-right-width: 0px;
	 border-left-width: 0px;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
	 border-top-width: 1px !important;
	 border-bottom-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
}

/* -- firebase-virtual-list -- */
#userlist {
	font-size: 11px;
	 min-height: 10px;
	 position: relative;
	 height: 93px;
}

/* -- firebase-virtual-list -- */
#postlist {
	padding-top: 0px;
	 margin-top: 0px;
}

/* -- card rounded-0 m-0 -- */
#obj-bedcly908 {
	border: 1px none;
}

/* -- firebase-field font-weight-bold mb-1 p-0 text-nowrap -- */
#obj-yrldij152 {
	margin-top: 0px;
	 padding-right: 0px;
}

/* -- block custom-block pt-2 pb-2 -- */
#obj-tiigjn158 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- embed-responsive-item -- */
#img-obj-ghdacm288 {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

/* -- firebase-like firebase-action-button ripple -- */
#obj-kdymts941 {
	font-size: 25px;
}

/* -- firebase-field p-0 overflow-hidden clampin -- */
#obj-npxusq228 {
	line-height: 20px;
	 min-height: 40px;
	 max-height: 40px;
	 -webkit-line-clamp: 2;
}

/* -- flexbox display-flex firebase-action-button tb-comments-add -- */
#obj-blquyv518 {
	font-size: 15px;
}

/* -- embed-responsive-item -- */
#img-obj-yzpuns710 {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

/* -- firebase-field text-center -- */
#obj-hvkqhw799 {
	font-size: 13px;
}

/* -- block mt-2 mb-0 -- */
#obj-kotqlp186 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block -- */
#obj-ybkkws651 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

