/* -- custom css for file gallery.html -- */

/* -- collection-item-image -- */
#obj-wukvbf985 {
	background-image:url(../../img/98918.jpg);
}

/* -- collection-item-image -- */
#obj-imgyvg417 {
	background-image:url(../../img/84435.jpg);
}

/* -- collection-item-image -- */
#obj-pctggx935 {
	background-image:url(../../img/27734.jpg);
}

/* -- collection-item-image -- */
#obj-vsxpmu704 {
	background-image:url(../../img/53681.jpg);
}

/* -- collection-item-image -- */
#obj-zkgbdh285 {
	background-image:url(../../img/49163.jpg);
}

/* -- collection-item-image -- */
#obj-cbqovt666 {
	background-image:url(../../img/56297.jpg);
}

/* -- collection-item-image -- */
#obj-krdvhk184 {
	background-image:url(../../img/73566.jpg);
}

/* -- collection-item-image -- */
#obj-uxizbs193 {
	background-image:url(../../img/51295.jpg);
}

/* -- collection-item-image -- */
#obj-gikvsc061 {
	background-image:url(../../img/12331.jpg);
}

/* -- collection-item-image -- */
#obj-fqqdan871 {
	background-image:url(../../img/57300.jpg);
}

/* -- collection-item-image -- */
#obj-ouyxjq153 {
	background-image:url(../../img/42823.jpg);
}

/* -- collection-item-image -- */
#obj-uamufi136 {
	background-image:url(../../img/75972.jpg);
}

/* -- collection-item-image -- */
#obj-rjjegz208 {
	background-image:url(../../img/51532.jpg);
}

/* -- collection-item-image -- */
#obj-cmkvco977 {
	background-image:url(../../img/29286.jpg);
}

/* -- collection-item-image -- */
#obj-dubbqr427 {
	background-image:url(../../img/49262.jpg);
}

/* -- collection-item-image -- */
#obj-awwuvj725 {
	background-image:url(../../img/53680.jpg);
}

/* -- collection-item-image -- */
#obj-pjrrvh326 {
	background-image:url(../../img/94091.jpg);
}

/* -- collection-item-image -- */
#obj-mddmfe363 {
	background-image:url(../../img/12062.jpg);
}

