/* -- custom css for file menu.html -- */

/* -- item-media-img -- */
#obj-lklkpj406 {
	background-image:url('../../img/53680.jpg');
	width:44px;
	 height:44px;
}

/* -- item-media-img -- */
#obj-rqzhkb380 {
	background-image:url('../../img/94091.jpg');
	width:44px;
	 height:44px;
}

/* -- item-media-img -- */
#obj-cimnxj174 {
	background-image:url('../../img/15598.jpg');
	width:44px;
	 height:44px;
}

/* -- item-media-img -- */
#obj-qzcnew095 {
	background-image:url('../../img/14987.jpg');
	width:44px;
	 height:44px;
}

/* -- item-media-img -- */
#obj-qaomkp240 {
	background-image:url('../../img/73566.jpg');
	width:44px;
	 height:44px;
}

/* -- item-media-img -- */
#obj-asasxy124 {
	background-image:url('../../img/51528.jpg');
	width:44px;
	 height:44px;
}

/* -- item-media-img -- */
#obj-nkwvqz657 {
	background-image:url('../../img/72855.jpg');
	width:44px;
	 height:44px;
}

